<div class="change-password-title-container">
  <h2 mat-dialog-title>Change password</h2>
</div>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="change-password-input-full-width">
      <mat-label>Current password</mat-label>
      <input matInput type="password" formControlName="oldPassword" />
      @if (form.get('oldPassword')?.hasError('required')) {
        <mat-error>
          Current password is required
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="change-password-input-full-width">
      <mat-label>New password</mat-label>
      <input matInput type="password" formControlName="newPassword" />
      @if (form.get('newPassword')?.hasError('required')) {
        <mat-error>
          New password is required
        </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="change-password-action-buttons">
  <button mat-flat-button color="primary" (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" [disabled]="!form.valid" (click)="submit()">Submit</button>
</mat-dialog-actions>
