.change-password-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-password-input-full-width {
  width: 100%;
}

.change-password-action-buttons button {
  flex: 1;
}
