<div class="share-lock-title-container">
  <h2 mat-dialog-title>Share lock</h2>
</div>
<mat-dialog-content>
  <mat-stepper [linear]="true" labelPosition="bottom">
    <mat-step [stepControl]="firstFormGroup" label="Select users">
      <form [formGroup]="firstFormGroup" class="share-lock-form-step">
        <mat-form-field appearance="outline" class="share-lock-email-addresses">
          <mat-label>Email address</mat-label>
          <input matInput type="email" formControlName="email" required>
          <mat-error *ngIf="firstFormGroup.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="firstFormGroup.get('email')?.invalid">
            Email is is not valid
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="errorMessage">
          {{ errorMessage }}
        </mat-error>
        <mat-dialog-actions class="share-lock-action-buttons">
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </mat-dialog-actions>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Options">
      <form [formGroup]="secondFormGroup" class="share-lock-form-step">
        <mat-slide-toggle formControlName="isAdministrator">Administrator</mat-slide-toggle>
        <mat-slide-toggle formControlName="isVisitor">Visitor Pass</mat-slide-toggle>
        <mat-dialog-actions class="share-lock-action-buttons">
          <button mat-flat-button color="primary" matStepperPrevious>Back</button>
          <button mat-flat-button color="warn" (click)="onCancel()">Cancel</button>
          <button mat-flat-button color="primary" [disabled]="!canCompleteShare()" (click)="submit()">Complete</button>
        </mat-dialog-actions>
      </form>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
